@page
@model RazorPage_demo.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Moviescs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Moviescs.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Moviescs.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moviescs.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Moviescs.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moviescs.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Moviescs.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moviescs.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Moviescs.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Moviescs.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
